<% if (toc(post.content)){ %>
	<div class="Google-Ad article article2">
<% } else { %>
	<div class="Google-Ad article">
<% } %>
<!-- 广告位：碎碎念博客正文 -->
<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "1174073";</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
</div>
