<div class="Google-Ad"><span onclick="google();">看看我推荐了什么？</span></div>
<script language="javascript" type="text/javascript">
function google(){
 $(".Google-Ad").load("//zwsssn.u.qiniudn.com/ad.html",function(){$(".Google-Ad").fadeIn(100);}
 );}
</script>
