<% if (toc(post.content)){ %>
	<div class="Google-Ad article article2">
<% } else { %>
	<div class="Google-Ad article">
<% } %>
<iframe id="my-adsense" src="//zhuweisheng.com.cn/ad.html" width="760" height="90" align="center,center" vspace="0" hspace="0" scrolling="no" frameborder="0"></iframe>
</div>
