<% if (toc(post.content)){ %>
	<div class="Google-Ad article article2">
<% } else { %>
	<div class="Google-Ad article">
<% } %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 横幅（内页） -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1132058506008523"
     data-ad-slot="2644756290"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
