<% if (toc(post.content)){ %>
	<div class="Google-Ad article article2">
<% } else { %>
	<div class="Google-Ad article">
<% } %>
<a href="http://www.qcloud.com/redirect.php?redirect=1001&amp;cps_key=1cf93114cc03e20a38410779230461e5" rel="nofollow external" target="_blank">
<img src="http://zwsssn.u.qiniudn.com/640x90(1).jpg" width="100%" title="腾讯云服务器" alt="腾讯云服务器">
</a>
</div>
