<div class="Google-Ad" onclick="jump();">看看我推荐了什么？</div>
<script language="javascript" type="text/javascript">
function google(){
 $(".Google-Ad").load("//zhuweisheng.com.cn/ad.html",function(){$(".Google-Ad").fadeIn(100);}
 );}
</script>
