<div id="lovewy">
  <div id="countdown_prompt">猪头和丫头牵手走过了：</div>
  <div id="countdown"><span id="time"></span></div>
  <div id="countdown"><span id="year"></span></div>
</div>

<script>
/*侧栏倒计时*/
function downTime(){
  var StartTime= new Date("11/11/2011 23:11:11"); //初始日期 月/日/年 时：分：秒
  var NowTime= new Date();
  var nMS=NowTime.getTime() - StartTime.getTime();  //总毫秒差
  var SYe=StartTime.getFullYear(); //初始年
  var SMo=StartTime.getMonth()+1;  //初始月
  var SDa=StartTime.getDate();     //初始日
  var NYe=NowTime.getFullYear(); //当前年
  var NMo=NowTime.getMonth()+1;  //当前月
  var NDa=NowTime.getDate();     //当前日
  if(NMo<SMo){
    var nY=NYe - SYe -1;  //年
  if(NDa<SDa){
    var nM=NMo + (12-SMo) + (nY*12) -1 ;  //月
  }
  else{
    var nM=NMo + (12-SMo) + (nY*12) ;  //月
  }
  }
  else{
    var nY=NYe - SYe;  //年
  if(NDa<SDa){
    var nM=NMo - SMo + (nY*12)-1;  //月
  }
  else{
    var nM=NMo - SMo + (nY*12);  //月
  }
  }
  var nD=Math.floor(nMS/(1000*60*60*24))+2;  //总天数
  var nH=Math.floor(nMS/(1000*60*60)) % 24;  // H时
  var nMi=Math.floor(nMS/(1000*60)) % 60;     // M分
  var nS=Math.floor(nMS/1000) % 60;          // S秒
  //var nZ=Math.floor(nMS/100) % 10;        //精确到毫秒
  if( nD>= 0){
    document.getElementById("time").innerHTML='<span>'+nD+'</span>天<span>'+nH+'</span>时<span>'+nMi+'</span>分<span>'+nS+'</span>秒';
    document.getElementById("year").innerHTML='今天是第<span>'+nM+'</span>个月'+'，'+'第<span>'+nY+'</span>年 ！';        
    setTimeout("downTime()",100);
  }
  else {
    document.getElementById("countdown_prompt").innerHTML = "亲，你穿越了么？";
  }
  }
  downTime();
</script>
